@import "../style.scss";

#gallery {
  @include flex("", "", $vl_grey);
}

.g-icon {
  font-size: 6rem;
  color: $d_grey;
}
.photos {
  @include flex(column, "", "", "", center);
}

.image {
  margin: 2rem;
}
.g-content-visible {
  @include flexContent(1 1 100%);
}

.g-content-hidden {
  @include flexContent(1 1 75%);
}

.g-nav-visible {
  @include flexContent(1 1 25%, "", white);
}

.g-nav-hidden {
  display: none;
}

@media (max-width: 80rem) {
  img {
    width: 100%;
    height: 100%;
  }
}
