@import "../style.scss";

#gallery {
  display: flex;
  background-color: $vl_grey;
  align-content: center;
  min-width: fit-content;
}

.g-icon {
  font-size: 5rem;
  color: $d_grey;
}
.photos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.image {
  margin: 2rem;
  /*  height: 30rem;
  width: 30rem;*/
}
.g-content-visible {
  flex: 1 1 100%;
  min-height: 100vh;
}

.g-content-hidden {
  flex: 1 1 75%;
  min-height: 100vh;
}

.g-nav-visible {
  flex: 1 1 25%;
  background-color: $d_grey;
  min-height: 100vh;
}

.g-nav-hidden {
  display: none;
}
