@import "../style.scss";

#home {
  display: flex;
  justify-content: stretch;
  background-color: $l_orange;
  min-width: fit-content;
}

.h-icon {
  font-size: 6rem;
  color: white;
}

.h-name {
  text-align: center;
  font-weight: bold;
  margin: 5rem;
  color: white;

  .h-first {
    animation: slideInRight 2s ease-out;
  }
  .h-last {
    animation: slideInLeft 2s ease-out;
  }
}
.h-content-visible {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.h-content-hidden {
  flex: 1 1 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.h-nav-visible {
  flex: 1 1 25%;
  background-color: white;
  min-height: 100vh;
}
.h-nav-hidden {
  display: none;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-6rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(6rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
