@import "../style.scss";

input {
  border-radius: 2rem;
  border-style: none;
  padding: 2rem;
  font-family: inherit;
  font-size: 2rem;
  margin: 1rem;
}

p {
  font-size: 2rem;
}
.p-head {
  font-size: 5rem;
}
#pattern {
  display: flex;
  width: 100%;
  min-height: fit-content;
  justify-content: stretch;
  background-color: rgb(230, 222, 213);
}
.p-head {
  font-size: 5rem;
}
.patterns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .p-tri {
    margin: 2rem;
  }
  .p-rect {
    margin: 2rem;
  }

  .p-di {
    margin: 2rem;
  }
}

.p-content-visible {
  flex: 1 1 100%;
  min-height: 150vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-content-hidden {
  flex: 1 1 75%;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-nav-visible {
  flex: 1 1 25%;
  background-color: $d_grey;
  min-height: 150vh;
}

.p-nav-hidden {
  display: none;
}
