@import "../style.scss";

input {
  border-radius: 2rem;
  border-style: none;
  padding: 2rem;
  font-family: inherit;
  font-size: 2rem;
  margin: 1rem;
}

p {
  font-size: 2rem;
}
.p-head {
  font-size: 6rem;
  color: white;
}
#pattern {
  display: flex;
  min-width: fit-content;
  min-height: fit-content;
  justify-content: stretch;
  background-color: $m_grey;
}

.patterns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .pat {
    margin: 2rem;
  }
}

.p-content-visible {
  flex: 1 1 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-content-hidden {
  flex: 1 1 75%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-nav-visible {
  flex: 1 1 25%;
  background-color: white;
  min-height: 100vh;
}

.p-nav-hidden {
  display: none;
}
