@import "../style.scss";

input {
  border-radius: 2rem;
  border-style: none;
  padding: 2rem;
  font-family: inherit;
  font-size: 2rem;
  margin: 1rem;
}

p {
  font-size: 2rem;
}
.p-head {
  font-size: 5rem;
}
#pattern {
  display: flex;
  width: 100%;
  min-height: fit-content;
  justify-content: stretch;
  background-color: rgb(230, 222, 213);
}

.p-content-visible {
  flex: 1 1 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .patterns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.p-content-hidden {
  flex: 1 1 75%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .p-head {
    font-size: 5rem;
  }
  .patterns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.p-nav-visible {
  flex: 1 1 25%;
  background-color: $d_grey;
  min-height: 100vh;

  li {
    margin: 3rem;
    margin-bottom: 2rem;
    font-size: 6rem;
    color: white;
    a,
    a:active {
      color: white;
      &:hover {
        color: $l_grey;
      }
    }
    &:hover {
      color: $l_grey;
    }
  }
}

.p-nav-hidden {
  display: none;
}
