.Footer {
  height: 40vh;
  grid:
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer';
  display: grid;
  background-image: linear-gradient(
    to top right,
    rgba(67, 139, 191, 0.9),
    rgba(43, 98, 139, 0.9)
  );
}

dt {
  font-size: 2.5rem;
}
dd {
  font-size: 2rem;
}
.LeftData {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: rgb(33, 33, 33);
}
.RightData {
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.RightData a {
  text-decoration: none;
  color: rgb(33, 33, 33);
}
.RightData a:hover {
  text-decoration: underline;
  color: rgb(215, 94, 94);
}

.LeftContact {
  grid-area: 3 / 1;
  text-align: left;
  margin: 1rem;
}
.RightContact {
  grid-area: 3 / 4;
  text-align: right;
  margin: 1rem;
}

.LeftStudent {
  margin-left: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.RightStudent {
  margin-right: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

@media (max-width: 50rem) {
  dt {
    font-size: 1.7rem;
    margin-bottom: -0.3rem;
  }
  dd {
    font-size: 1.5rem;
  }
  .Footer {
    height: 30vh;
  }
  .LeftContact {
    grid-area: 4 / 1;
    text-align: left;
    margin-bottom: 3rem;
  }
  .RightContact {
    grid-area: 3 / 1;
    text-align: left;
    margin-top: -1rem;
    /* margin-bottom: -1rem; */
  }
  .RightData {
    margin-left: 1rem;
    margin-bottom: -1rem;
  }
  .LeftData {
    margin-bottom: -1rem;
  }
  .RightStudent {
    margin-left: 2rem;
  }
}
