.Footer {
  display: grid;
  height: 40vh;
  background-color: #7291c9;
  grid:
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer'
    'footer footer footer footer';
}

.LeftData {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: rgb(93, 42, 3);
}
.RightData {
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.RightData a {
  text-decoration: none;
  color: rgb(15, 51, 133);
}
.RightData a:hover {
  text-decoration: underline;
  color: white;
}

.LeftContact {
  grid-area: 3 / 1;
  text-align: left;
  margin: 1rem;
}
.RightContact {
  grid-area: 3 / 4;
  text-align: right;
  margin: 1rem;
}

.LeftStudent {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(242, 238, 234);
}
.RightStudent {
  margin-right: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(242, 238, 234);
}
