.Gallery {
  grid:
    'img img img'
    'img img img'
    'img img img'
    'img img img';
  display: grid;
  height: fit-content;
  background-image: linear-gradient(
    to top left,
    rgba(88, 88, 88, 0.9),
    rgba(9, 9, 9, 0.9)
  );
  background-size: cover;
  margin: 0.5rem;
}

.Menu {
  grid-area: 2 / 2;
  margin-top: 5rem;
  margin-left: 5rem;
}
#Head,
#Head a,
#Head a:active {
  text-decoration: none;
  color: rgb(233, 229, 225);
  font-weight: bold;
  padding: 1rem;
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: 0.7rem;
}

#Head:hover {
  color: rgb(254, 254, 254);
  text-decoration: underline;
}

.Top-Content {
  grid-area: 3 / 1 / span 1 / span 3;
  grid:
    'img img img'
    'img img img'
    'img img img';
  display: grid;
  height: fit-content;
  min-width: fit-content;
  text-align: center;
  margin: 3rem;
}

.Image {
  height: 30rem;
  width: 30rem;
  border-style: solid;
  border-image: auto;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  border-color: rgb(233, 229, 225);
}
@media (max-width: 89rem) {
  .Gallery {
    grid:
      'img img img'
      'img img img'
      'img img img'
      'img img img'
      'img img img'
      'img img img';
    display: grid;
    margin: 0.5rem;
  }

  .Menu {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    grid-area: 2 / 1;
  }

  #Head,
  #Head a,
  #Head a:active {
    font-size: 4rem;
    padding: 1rem;
    font-weight: bolder;
    letter-spacing: 0.7rem;
  }
  .Top-Content {
    grid-area: 3 / 1 / span 2 / span 3;
    grid:
      'img img img'
      'img img img'
      'img img img'
      'img img img';
    display: grid;
    min-height: fit-content;
    margin: 0.1rem;
  }
  .Image {
    height: 28rem;
    width: 28rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 75rem) {
  .Gallery {
    grid:
      'img img img'
      'img img img'
      'img img img'
      'img img img'
      'img img img'
      'img img img';
    display: grid;
    margin: 0.5rem;
  }

  .Menu {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    grid-area: 2 / 1;
  }

  #Head,
  #Head a,
  #Head a:active {
    font-size: 4rem;
    padding: 1rem;
    font-weight: bolder;
    letter-spacing: 0.7rem;
  }
  .Top-Content {
    grid-area: 3 / 1 / span 2 / span 3;
    grid:
      'img img img'
      'img img img'
      'img img img'
      'img img img';
    display: grid;
    min-height: fit-content;
    margin: 0.1rem;
  }
  .Image {
    height: 24rem;
    width: 24rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 50rem) {
  .Gallery {
    grid:
      'img img img'
      'img img img'
      'img img img'
      'img img img'
      'img img img'
      'img img img';
    display: grid;
    margin: 0.5rem;
  }

  .Menu {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    grid-area: 2 / 1;
  }

  #Head,
  #Head a,
  #Head a:active {
    font-size: 4rem;
    padding: 1rem;
    font-weight: bolder;
    letter-spacing: 0.7rem;
  }
  .Top-Content {
    grid-area: 3 / 1 / span 2 / span 3;
    grid:
      'img img img'
      'img img img'
      'img img img';
    display: grid;
    min-height: fit-content;
    margin: 0.1rem;
  }
  .Image {
    height: 20rem;
    width: 20rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 45rem) {
  .Gallery {
    grid:
      'img img img'
      'img img img'
      'img img img'
      'img img img'
      'img img img'
      'img img img';
    display: grid;
    margin: 0.5rem;
  }

  .Menu {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    grid-area: 2 / 1;
  }

  #Head,
  #Head a,
  #Head a:active {
    font-size: 4rem;
    padding: 1rem;
    font-weight: bolder;
    letter-spacing: 0.7rem;
  }
  .Top-Content {
    grid-area: 3 / 1 / span 2 / span 3;
    grid:
      'img img img'
      'img img img'
      'img img img';
    display: grid;
    min-height: fit-content;
    margin: 0.1rem;
  }
  .Image {
    height: 17rem;
    width: 17rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 33rem) {
  .Gallery {
    grid:
      'img img'
      'img img'
      'img img'
      'img img'
      'img img'
      'img img';
    display: grid;
    margin: 0.5rem;
    min-width: fit-content;
  }

  .Menu {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    grid-area: 2 / 1;
  }

  #Head,
  #Head a,
  #Head a:active {
    font-size: 4rem;
    padding: 1rem;
    font-weight: bolder;
    letter-spacing: 0.7rem;
  }
  .Top-Content {
    grid-area: 3 / 1 / span 2 / span 2;
    grid:
      'img img'
      'img img'
      'img img';
    display: grid;
    min-width: fit-content;
    margin: 0.1rem;
  }
  .Image {
    height: 18rem;
    width: 18rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 23rem) {
  .Gallery {
    grid:
      'img img'
      'img img'
      'img img'
      'img img'
      'img img'
      'img img';
    display: grid;
    margin: 0.5rem;
    min-width: fit-content;
  }

  .Menu {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    grid-area: 2 / 1;
  }

  #Head,
  #Head a,
  #Head a:active {
    font-size: 4rem;
    padding: 1rem;
    font-weight: bolder;
    letter-spacing: 0.7rem;
  }
  .Top-Content {
    grid-area: 3 / 1 / span 2 / span 2;
    grid:
      'img img'
      'img img'
      'img img';
    display: grid;
    min-width: fit-content;
    margin: 0.1rem;
  }
  .Image {
    height: 13rem;
    width: 13rem;
    margin-bottom: 1rem;
  }
}
