.header {
  height: 50vh;
  grid:
    'head head head head'
    'head head head head'
    'head head head head';
  display: grid;
  background-image: linear-gradient(
    to top left,
    rgba(110, 172, 216, 0.9),
    rgba(54, 108, 149, 0.9)
  );
}

.leftHeader {
  grid-area: 2 / 1;
  text-align: left;
  margin-bottom: 5rem;
}

.dropdown {
  grid-area: 2 / 1;
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 2rem;
  z-index: 0;
}

.dropdown-content Link {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

#dropBtn {
  padding: 1rem;
  box-sizing: content-box;
  border-radius: 0.8rem;
  font-size: 6rem;
  color: rgb(219, 219, 219);
  font-weight: bolder;
  letter-spacing: 0.7rem;
  margin-left: 3rem;
}

#dropBtn:hover {
  color: rgb(246, 123, 42);
}

#navList {
  list-style-type: none;
}

#navList a,
#navList:active a {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.9rem;
  color: rgb(71, 66, 76);
  box-shadow: 0.2rem 0.5rem 1rem rgb(0, 0, 0, 0.2);
}
#navList a:hover {
  color: white;
  box-sizing: content-box;

  background-color: rgb(196, 87, 47);
  box-shadow: 0.2rem 0.8rem 1.5rem rgb(0, 0, 0, 0.1);
}
#navList li {
  margin-bottom: 2.8rem;
}
#navList li:active {
  transform: translateY(-0.05rem);
}
#navList li:hover {
  transform: translateY(-0.15rem);
}

#rightNav {
  text-align: right;
}
@media (max-width: 40rem) {
  .header {
    min-width: fit-content;
  }
  #dropBtn {
    font-size: 5rem;
  }
  #navList a,
  #navList:active a {
    font-size: 1.5rem;
  }
}
