.header {
  display: grid;
  height: 40vh;
  grid:
    'head head head head'
    'head head head head'
    'head head head head';
  grid-gap: 1rem;
  background-color: #7291c9;
}

.leftHeader {
  grid-area: 2 / 1;
  text-align: left;
  margin-bottom: 5rem;
}

.dropdown {
  grid-area: 2 / 1;
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 2rem;
  z-index: 1;
}

.dropdown-content Link {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

#dropBtn {
  padding: 1rem;
  background-color: #7291c9;
  border-color: #7291c9;
  color: rgb(233, 229, 225);
  border-radius: 0.8rem;
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: 0.7rem;
  margin-left: 2rem;
}

#dropBtn:hover {
  background-color: #7291c9;
  border-color: #7291c9;

  color: rgb(254, 254, 254);
  text-decoration: underline;
}

#navList {
  list-style-type: none;
}

#navList a,
#navList:active a {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.6rem;
  color: rgb(47, 11, 92);
  box-shadow: 0.2rem 0.5rem 1rem rgb(0, 0, 0, 0.1);
}
#navList a:hover {
  color: white;
  box-sizing: content-box;
  text-decoration: underline;
  background-color: rgb(184, 95, 36);
  box-shadow: 0.2rem 0.8rem 1.5rem rgb(0, 0, 0, 0.05);
}
#navList li {
  margin-bottom: 2rem;
}
#navList li:active {
  transform: translateY(-0.1rem);
}
#navList li:hover {
  transform: translateY(-0.3rem);
}

#rightNav {
  text-align: right;
}
