.Home {
  margin: 0.5rem;
}

.name {
  height: 70vh;
  text-align: center;
  overflow: scroll;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(63, 63, 63);
  background-color: rgb(230, 222, 213);
  grid:
    'name name name'
    'name name name'
    'name name name'
    'name name name'
    'name name name'
    'name name name';
  display: grid;
}

.firstName {
  grid-area: 3 / 2 / span 1 / span 1;
  font-size: 6rem;
  margin-bottom: -3rem;
  animation: slideInRight 2s ease-out;
}

.lastName {
  grid-area: 4 / 2 / span 1 / span 1;
  font-size: 6rem;
  animation: slideInLeft 2s ease-out;
}

@media (max-width: 30rem) {
  .Home {
    min-width: fit-content;
  }
  .name {
    min-width: fit-content;
    grid:
      'name name name'
      'name name name'
      'name name name'
      'name name name'
      'name name name'
      'name name name';
    display: grid;
  }

  .firstName {
    grid-area: 3 / 2 / span 1 / span 1;
    font-size: 5rem;
    margin-bottom: -5rem;
    animation: slideInRight 2s ease-out;
  }

  .lastName {
    grid-area: 4 / 2 / span 1 / span 1;
    font-size: 5rem;
    animation: slideInLeft 2s ease-out;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-6rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(6rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
