.Pattern {
  grid:
    'pat pat pat'
    'pat pat pat'
    'pat pat pat';

  gap: 1rem;
  display: grid;
  height: 150vh;
  background-color: rgb(233, 228, 222);
}
input {
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: 0.9rem;
  padding: 1rem;
  background-color: rgb(234, 238, 241);
  border-style: none;
}
div .Pat {
  margin-top: 2rem;
  font-size: 1rem;
  color: rgb(179, 72, 1);
}

.Triangle {
  text-align: left;
  margin-left: 2rem;
  grid-area: 2 / 1;
}
.Triangle h2 {
  font-size: 3rem;
  color: rgb(0, 84, 148);
}

.Diamond {
  text-align: center;
  grid-area: 2 / 2;
}
.Diamond h2 {
  font-size: 3rem;
  color: rgb(0, 84, 148);
}
.Rectangle {
  margin-right: 2rem;
  text-align: right;
  grid-area: 2 / 3;
}
.Rectangle h2 {
  font-size: 3rem;
  color: rgb(0, 84, 148);
}
