.Pattern-Container {
  margin: 0.5rem;
  min-width: fit-content;
  height: fit-content;
}

.Pattern {
  grid:
    'pat pat pat'
    'pat pat pat'
    'pat pat pat'
    'pat pat pat'
    'pat pat pat'
    'pat pat pat';
  gap: 1rem;
  display: grid;
  height: 110vh;
  background-color: rgb(233, 228, 222);
}
input {
  font-size: 2rem;
  font-family: inherit;
  border-radius: 0.9rem;
  padding: 1rem;
  background-color: rgb(234, 238, 241);
  border-style: none;
}
div .Pat {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(142, 58, 2);
}

.Triangle {
  grid-area: 3 / 2;
  margin-bottom: 2rem;
}
.Diamond {
  grid-area: 4 / 2;
  margin-bottom: 2rem;
}
.Rectangle {
  grid-area: 5 / 2;
  margin-bottom: 2rem;
}

@media (max-width: 30rem) or (max-width: 50rem) {
  .Pattern-Container {
    min-width: fit-content;
    height: min-content;
    overflow: scroll;
  }
  .Pattern {
    grid:
      'pat pat pat'
      'pat pat pat'
      'pat pat pat'
      'pat pat pat'
      'pat pat pat'
      'pat pat pat';
    gap: 1rem;
    display: grid;
    height: 110vh;
    min-width: fit-content;
    background-color: rgb(233, 228, 222);
  }
  input {
    font-size: 1rem;
  }
  div .Pat {
    margin-top: 2rem;
    font-size: 0.5rem;
  }
  .Triangle {
    min-width: fit-content;
    margin-bottom: 2rem;
    grid-area: 3 / 2;
  }
  .Diamond {
    min-width: fit-content;
    margin-bottom: 2rem;
    grid-area: 4 / 2;
  }
  .Rectangle {
    min-width: fit-content;
    margin-bottom: 2rem;
    grid-area: 5 / 2;
  }
}
