.Pattern {
  grid:
    'pat pat pat'
    'pat pat pat'
    'pat pat pat';

  gap: 1rem;
  display: grid;
  margin: 4rem;
  height: 90vh;
}
input {
  font-size: 1rem;
  font-family: inherit;
}
div .Pat {
  margin-top: 2rem;
  font-size: 1rem;
  color: rgb(179, 72, 1);
}

.Triangle {
  text-align: left;
  grid-area: 2 / 1;
}
.Triangle h2 {
  font-size: 2.5rem;
  color: rgb(0, 84, 148);
}

.Diamond {
  text-align: center;
  grid-area: 2 / 2;
}
.Diamond h2 {
  font-size: 2.5rem;
  color: rgb(0, 84, 148);
}
.Rectangle {
  text-align: right;
  grid-area: 2 / 3;
}
.Rectangle h2 {
  font-size: 2.5rem;
  color: rgb(0, 84, 148);
}
