.Rectangle {
  text-align: center;
}
.Rectangle h2 {
  font-size: 5rem;
  color: rgb(0, 84, 148);
}

@media (max-width: 50rem) {
  .Rectangle {
    text-align: center;
  }
  .Rectangle h2 {
    font-size: 4rem;
  }
}
