.Triangle {
  text-align: center;
}
.Triangle h2 {
  font-size: 5rem;
  color: rgb(0, 84, 148);
}
@media (max-width: 50rem) {
  .Triangle {
    text-align: center;
  }
  .Triangle h2 {
    font-size: 4rem;
  }
}
