@import "../style.scss";

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 2rem;
  margin: 1rem;

  .gallery {
    display: flex;
    align-items: center;

    .drop-btn {
      color: $m_grey;
      border-style: none;
      font-size: 5rem;
    }
    .vertical {
      transform: rotate(-90deg);
    }
  }

  .n-item {
    margin: 1rem;

    flex: 1 1 100%;
    display: flex;

    button#menu-btn,
    button#menu-btn:active {
      background-color: white;
      color: $m_grey;
      border-radius: 1rem;
      border-style: none;
      font-size: 9rem;
      font-weight: bold;
      &:hover {
        color: $d_grey;
      }
    }
    a,
    a:active {
      color: $m_grey;
      font-size: 3rem;
      font-weight: bold;
      &:hover {
        color: $d_grey;
      }
    }
  }
}
