@import "../style.scss";

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $d_grey;
  padding: 3rem;
  margin-right: 3rem;

  .n-item {
    padding: 1rem;
    margin: 1rem;
    flex: 1 1 100%;

    button,
    button:active {
      background-color: $l_grey;
      color: white;
      padding: 3rem;
      border-radius: 1rem;
      border-style: none;
      font-size: 6rem;
      &:hover {
        background-color: $d_grey;
      }
    }
    a,
    a:active {
      color: white;
      font-size: 3rem;
      font-weight: bold;
      &:hover {
        color: $l_grey;
      }
    }
  }
}
