@import "../style.scss";

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $d_grey;
  padding: 3rem;
  margin-right: 3rem;

  .n-item {
    padding: 1rem;
    margin: 1rem;
    flex: 1 1 100%;

    a,
    a:active {
      color: white;
      font-size: 3rem;
      &:hover {
        color: $green;
      }
    }
    &-1 {
      font-size: 8rem;
      color: white;
      margin-left: 1rem;
      flex: 1 1 10%;
      &:hover {
        color: $green;
      }
    }
  }
}
